* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #1F2937;
    color: #f9faf8;
}

body {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

nav {
    display: flex;
    margin-left: 10%;
    

}


ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin-left: 65%;
}

.container-one {
    display: flex;
    gap: 100px;
    max-width: 80%;
    margin-left: 10%;

}


.inside-container-one h2 {
    font-size: 48px;
    font-weight: 900;
}

.container-one button {
    background-color: #3882f6;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 10px;
}

.container-two {
    display: flex;
    flex-direction: column;
}

.inside-container-two {
    display: flex;

}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}